body {
    background: url("../images/12893175_5072612.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white !important;
    font-family: 'Vazirmatn' !important;
}

li a {
    color: #fff;
}